.circle {
    width: 450px;
    height: 450px;

    background: linear-gradient(to bottom, #f5576c, #f093fb);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15) ;
    border-radius: 50% 50% 62% 38% / 60% 44% 56% 40%;

    animation: circleRadius 5s alternate infinite;

    position: absolute;
    right: 2rem;
    bottom: 7rem;
    z-index: 1;
}

@keyframes circleRadius {
    0% {
        border-radius: 50% 50% 62% 38% / 60% 44% 56% 40%;
    }
    100% {
        border-radius: 35% 65% 21% 79% / 44% 39% 61% 56%;
    }
}